# üçï Pizza Place Sales Analysis
This notebook explores a year's worth of sales data from a fictitious pizza place.

In [ ]:
import pandas as pd

file_path = "order_details.xlsx"
xls = pd.ExcelFile(file_path)

orders = pd.read_excel(xls, sheet_name='orders')
order_details = pd.read_excel(xls, sheet_name='order_details')
pizzas = pd.read_excel(xls, sheet_name='pizzas')
pizza_types = pd.read_excel(xls, sheet_name='pizza_types')

df = orders.merge(order_details, on='order_id') \
           .merge(pizzas, on='pizza_id') \
           .merge(pizza_types, on='pizza_type_id')

df['total_price'] = df['price'] * df['quantity']

df.head()

## üí∞ Total Revenue

In [ ]:
df['total_price'].sum()

## üì¶ Total Quantity Sold

In [ ]:
df['quantity'].sum()

## üßæ Total Orders

In [ ]:
df['order_id'].nunique()

## üçï Number of Pizza Types

In [ ]:
df['pizza_type_id'].nunique()

## üíµ Average Price of Pizzas

In [ ]:
df[['pizza_id', 'price']].drop_duplicates()['price'].mean()